body {
    margin: 0;
    font-family: Helvetica;;
}

/* Cabeçalho */
.header {
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto; /*Auto vai se basear na largura e centralizar a largura. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.4s;
}

.nav-links a:hover, .header-icons i:hover {
    color: #ccc;
}

#logo {
    height: 30px;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.header-icons i {
    transition: 0.4s;
    cursor: pointer;
}

/* Corpo do site */
.product-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
}

.product-image {
    flex: 3;
}

.product-image img{
    max-width: 100%;
    height: auto;
}

.product-datails {
    flex: 2;
}

.product-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.product-rating-and-reviews {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product-rating i {
    color: #f8ce0b;
}

.reviews-count {
    margin-left: 10px;
    font-size: 14px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-colors h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.color-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.color-option {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent; /*'transparent' vai evitar com que o elemento pule quando o usuário passar o mouse por cima. */
}

.color-option:hover {
    border-color: #ccc;
}

.color-option[data-color="Dark Navy"] { /*colchetes para modificar o data-color que colocamos no elemento.*/
    background-color: #000080;
}

.color-option[data-color="Black"] { 
    background-color: #000;
}

.color-option[data-color="Grey"] { 
    background-color: #808080;
}

.product-sizes {
    margin-bottom: 20px;
}

.product-sizes select{
    padding: 5px;
    font-size: 18pxs;
}

.add-to-cart-btn {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: 0.4s;
}

.add-to-cart-btn:hover {
    background-color: #333;
}

.product-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Rodapé */
.transparency-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Vai repetir 4 colunas, e cada coluna vai representar uma fração*/
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
    background-color: #f8f8f8;
    padding: 25px;
    box-sizing: border-box; /*Faz com que o limite do meu elemente seja a largura que eu defini. Eu defini 1200 e não importa o padding que eu coloque, vai continur sendo 1200. */
}

.transparency-box {
    padding: 20px;
}

.transparency-box h2 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.transparency-box p {
    font-size: 14px;
    color: #666;
}

.transparency-box a {
    text-decoration: none;
    font-size: 12px;
    color: #007bff;
}

.transparency-box a:hover {
    text-decoration: underline;
}